.editText {
	border: '1px solid #ccc';
	padding: '5px 10px';
	borderRadius: '5px';
	cursor: 'pointer';
}

.item-grid-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0px;
}

.item-left-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item-button-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 10px;
    padding: 25px 0px;
}

